SubmittalProposal/Web References/getpageinforeference/GetPageInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HeresYourData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="HeresYourDataResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HeresYourDataSoapIn">
    <wsdl:part name="parameters" element="tns:HeresYourData" />
  </wsdl:message>
  <wsdl:message name="HeresYourDataSoapOut">
    <wsdl:part name="parameters" element="tns:HeresYourDataResponse" />
  </wsdl:message>
  <wsdl:portType name="GetPageInfoSoap">
    <wsdl:operation name="HeresYourData">
      <wsdl:input message="tns:HeresYourDataSoapIn" />
      <wsdl:output message="tns:HeresYourDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetPageInfoSoap" type="tns:GetPageInfoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HeresYourData">
      <soap:operation soapAction="http://tempuri.org/HeresYourData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetPageInfoSoap12" type="tns:GetPageInfoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HeresYourData">
      <soap12:operation soapAction="http://tempuri.org/HeresYourData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetPageInfo">
    <wsdl:port name="GetPageInfoSoap" binding="tns:GetPageInfoSoap">
      <soap:address location="http://localhost/GetPageInfo.asmx" />
    </wsdl:port>
    <wsdl:port name="GetPageInfoSoap12" binding="tns:GetPageInfoSoap12">
      <soap12:address location="http://localhost/GetPageInfo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>